$font: 'Lato', sans-serif;
$bold: 700;
$light: 400;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav img {
    width: 100%;
}

h1 {
    font-family: $font;
    margin: 2em;
    margin-bottom: 1em;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tracks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1em 5em;
    margin-bottom: 5em;
}

.tracks img {
    border: 0.5px solid #F1F2F3;
    border-radius: 4.4px;
}

.tracks p {
    font-family: $font;
    font-weight: $bold;
    margin: .8em;
}

.border {
    border: 1px solid #DADADA;
    height: 0;
    width: 890px;
    margin-left: 4em;
}