* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav img {
  display: flex;
  width: 100%;
}

nav-bar {
  display: none;
}

h1 {
  font-family: "Lato", sans-serif;
  margin: 2em;
  margin-bottom: 1em;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tracks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 1em 5em;
  margin-bottom: 5em;
}

.track-info {
  position: relative;
}

.tracks img {
  border: 0.5px solid #F1F2F3;
  border-radius: 4.4px;
}

.tracks p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0.5em 0.8em;
}

.border {
  border: 1px solid #DADADA;
  height: 0;
  width: 890px;
  margin-left: 4.5em;
  position: absolute;
}

.global {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -21em;
  top: 1em;
  color: #828282;
}

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -17.5em;
  top: 1em;
  color: #828282;
}

.x-btn {
  display: none;
}

.x-btn-2 {
  display: none;
}

.credits-1 {
  position: absolute;
  right: -38em;
  top: 1.6em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.credits-2 {
  position: absolute;
  right: -39.5em;
  top: 2em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.remove-save {
  position: absolute;
  font-family: "Lato", sans-serif;
  color: #828282;
  right: -38.5em;
  bottom: -3.5em;
}

.remove-save-2 {
  position: absolute;
  font-family: "Lato", sans-serif;
  color: #828282;
  right: -39.5em;
  bottom: -3.5em;
}

.save-btn {
  display: none;
}

.border-2 {
  border: 1px solid #DADADA;
  height: 0;
  width: 890px;
  margin-left: -6em;
  bottom: -6.5em;
  position: absolute;
}

.continue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -9.5em;
  left: -6em;
}

.continue p {
  color: #43B1E6;
  font-weight: 400;
  width: 152px;
  margin-left: 5px;
}

h2 {
  position: absolute;
  font-family: "Lato", sans-serif;
  margin: 3em;
  bottom: 5em;
}

.saved-tracks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.saved-track-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 1em 5em;
  position: absolute;
  bottom: 6em;
}

.saved-track-info {
  margin: 0.5em;
  font-family: "Lato", sans-serif;
}

.saved-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -23em;
  top: 1em;
  color: #828282;
}

.saved-global p {
  font-weight: 700;
  margin-left: 1em;
}

.remove {
  position: absolute;
  left: 44em;
  top: 1.4em;
  color: #828282;
}

.add-to-cart {
  width: 125px;
  height: 32px;
  position: absolute;
  left: 58em;
  top: 1.3em;
  color: #919191;
  letter-spacing: 0.02em;
  border: 1px solid #919191;
  border-radius: 50px;
  background: transparent;
}

.border-3 {
  border: 1px solid #DADADA;
  height: 0;
  width: 890px;
  bottom: -2em;
  position: absolute;
}

.saved-track-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: absolute;
  bottom: -7em;
}

.saved-global-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -25em;
  top: 1em;
  color: #828282;
}

.border-4 {
  border: 1px solid #DADADA;
  height: 0;
  width: 890px;
  bottom: -2em;
  position: absolute;
}

.saved-track-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: absolute;
  bottom: -14em;
}

.border-5 {
  border: 1px solid #DADADA;
  height: 0;
  width: 890px;
  bottom: -2em;
  position: absolute;
}

.sidebar {
  position: absolute;
  width: 34%;
  height: 1155px;
  right: -1em;
  top: 5.7em;
  background-color: #fafafa;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.sidebar-h1 {
  text-align: left;
}

.sidebar p {
  margin: 1em 4em;
}

.sidebar-border {
  position: absolute;
  right: 7em;
  border: 1px solid #DADADA;
  width: 25em;
}

span {
  color: #919191;
}

.order-button {
  position: relative;
  background: #43B1E6;
  border-radius: 50px;
  letter-spacing: 0.05em;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  padding: 1em;
  border: none;
  width: 305px;
  bottom: -2em;
  right: -5em;
  margin-bottom: 2em;
}

.terms {
  text-align: center;
  margin-left: -8.5em;
  color: #b6b6b6;
  font-weight: 400;
}

.terms p {
  margin-bottom: -1em;
}

.sidebar-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #919191;
  line-height: 1.5em;
  left: -5.5em;
  top: -23.75em;
}

.sidebar-numbers p {
  margin: 0.5em;
}

.arrow2 {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.5em;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.subtotal-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: -3.25em;
}

.subtotal-numbers p {
  margin-bottom: -1px;
}

.total {
  position: relative;
  bottom: -7em;
  color: #282828;
}

.change {
  position: relative;
  font-weight: 400;
  color: #43B1E6;
  text-decoration: underline;
  bottom: -11.5em;
}

.top-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 600px;
  width: 100%;
  background-color: #282828;
  position: relative;
  bottom: -20em;
  padding: 0 4em;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em;
}

h3 {
  color: #FAFAFA;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
}

li {
  list-style-type: none;
  color: #919191;
  line-height: 2em;
  font-family: "Lato", sans-serif;
}

.resources-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4em;
}

.store-extras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4em;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4em;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4em;
}

.email-field {
  display: flex;
  flex-direction: row;
}

input {
  padding: 5px 8px;
  width: 258px;
  height: 40px;
  background: #171717;
  border: 1px solid #5C5C5C;
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 2em;
}

.subscribe-btn {
  padding: 8px 18px 8px 16px;
  gap: 4px;
  width: 112px;
  height: 40px;
  background: #43B1E6;
  border-radius: 0px 4px 4px 0px;
  border: none;
  color: #ffffff;
}

.subscribe p {
  color: #919191;
  font-family: "Lato", sans-serif;
}

.arrow {
  border: solid #919191;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.5em;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.social-icons {
  margin-top: 2em;
}

footer {
  position: relative;
  bottom: -17em;
  width: 100%;
  height: 50px;
  background: #171717;
  text-align: left;
}

.copyright li.skinny-footer-copyright {
  display: none;
}

.copyright ul {
  margin-top: 0.5em;
}

.copyright li {
  display: inline;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 8em;
  margin-right: 4em;
}

.footer-terms span {
  margin: 0 1em;
}

.world {
  position: relative;
  bottom: -0.25em;
  margin-right: 0.25em;
  margin-left: 13em;
}

.down-triangle-arrow {
  margin-left: 1em;
}

.sticky-footer {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav img {
    display: none;
  }
  nav-bar {
    display: flex;
    height: 74px;
    width: 100%;
    border: 1px solid #DADADA;
  }
  .dots {
    position: relative;
    width: 24px;
    height: 24px;
    left: 16px;
    top: calc(50% - 12px);
  }
  .logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px + 0.5px);
    top: 1em;
  }
  .mag-glass {
    position: relative;
    width: 24px;
    height: 24px;
    right: -17em;
    top: calc(50% - 12px);
  }
  .user {
    position: relative;
    width: 24px;
    height: 24px;
    right: -18em;
    top: calc(50% - 12px);
  }
  h1 {
    position: relative;
    margin: 0.5em;
    height: 24px;
  }
  .cart {
    position: relative;
    width: 375px;
    height: 436px;
    left: -4em;
    top: 3.5em;
  }
  .track-info {
    position: relative;
    width: 180px;
    font-size: 14px;
    line-height: 1em;
    margin-left: 0.4em;
    margin-top: 2em;
  }
  img.graves {
    height: 48px;
    width: 48px;
    border-radius: 3px;
    margin-right: -0.5em;
    margin-top: 1.5em;
  }
  .global img {
    height: 24px;
    width: 24px;
    margin-right: -0.5em;
  }
  .global {
    font-size: 14px;
    position: absolute;
    bottom: -5em;
    left: -9em;
    width: 300px;
  }
  img.goodness {
    height: 48px;
    width: 48px;
    border-radius: 3px;
    margin-top: 1.5em;
    margin-right: -0.25em;
  }
  .chart img {
    height: 24px;
    width: 24px;
    margin-right: -0.5em;
  }
  .chart {
    font-size: 14px;
    position: absolute;
    bottom: -6em;
    left: -12em;
    width: 300px;
  }
  .credits-1 {
    position: absolute;
    right: -7.5em;
    top: 4em;
    width: 70px;
  }
  .remove-save {
    display: none;
  }
  .remove-save-2 {
    display: none;
  }
  .save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -8em;
    bottom: -5.5em;
    width: 141px;
    height: 32px;
    color: #919191;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.02em;
    border: 1px solid #919191;
    border-radius: 50px;
    background: transparent;
  }
  .x-btn {
    display: flex;
    position: absolute;
    font-size: 24px;
    color: #919191;
    left: 265px;
    top: 10px;
  }
  .border {
    top: 7.75em;
    width: 346px;
    left: 0.25em;
  }
  .credits-2 {
    position: absolute;
    right: -7em;
    top: 4em;
  }
  .border-2 {
    top: 11em;
    width: 346px;
    left: 2em;
  }
  .continue {
    right: 2em;
  }
  .continue p {
    font-size: 16px;
  }
  .sidebar {
    position: relative;
    width: 375px;
    height: 780px;
    top: 1em;
    left: -0.25em;
    padding: 1.5em 0.5em;
  }
  .sidebar p {
    position: relative;
    left: -3em;
    bottom: -1em;
  }
  div.terms {
    position: relative;
    left: 2.5em;
    width: 375px;
    margin: 0;
  }
  .promo {
    position: relative;
    top: -0.75em;
  }
  .sidebar-numbers {
    position: relative;
    top: -41.5em;
    left: -2em;
  }
  i.arrow2.down {
    position: relative;
    top: -1.75em;
    left: -0.25em;
  }
  .sidebar-border {
    position: relative;
    right: -0.5em;
    width: 346px;
    margin-top: -1.5em;
    bottom: 0;
  }
  .subtotal {
    position: relative;
    top: -1em;
  }
  .tax {
    position: relative;
    top: -1em;
  }
  .sub-num {
    position: relative;
    top: -3em;
  }
  .tax-num {
    position: relative;
    top: -3em;
  }
  .summary-total {
    position: relative;
    top: -0.5em;
  }
  .total {
    position: relative;
    top: 3em;
  }
  .change {
    bottom: -7.5em;
    right: -0.25em;
  }
  .order-button {
    left: 2em;
    font-size: 16px;
  }
  .terms {
    position: relative;
    left: 7em;
  }
  .saved-tracks {
    display: flex;
    position: relative;
    bottom: -59.5em;
    width: 375px;
    height: 600px;
  }
  h2 {
    position: relative;
    padding-left: 0.5em;
    padding-bottom: 1em;
  }
  .saved-track-info {
    position: relative;
    width: 200px;
    font-size: 14px;
    bottom: -0.75em;
    left: 1em;
    margin: 1em 0;
  }
  .remove {
    display: none;
  }
  .saved-global {
    position: relative;
    left: -7em;
    top: 2.5em;
    font-size: 14px;
  }
  .x-btn-2 {
    display: flex;
    position: absolute;
    font-size: 24px;
    color: #919191;
    left: 255px;
    bottom: 1.25em;
  }
  .add-to-cart {
    position: absolute;
    left: 11.5em;
    top: 5em;
  }
  .saved-global img {
    height: 24px;
    width: 24px;
    margin-right: -0.7em;
  }
  .border-3 {
    position: absolute;
    top: 9.5em;
    width: 343px;
  }
  .saved-track-2 {
    position: absolute;
    top: 13em;
  }
  .saved-global-2 {
    position: relative;
    left: -7em;
    top: 2.5em;
    font-size: 14px;
  }
  .saved-global-2 img {
    height: 24px;
    width: 24px;
    margin-right: -0.7em;
  }
  .saved-track-3 {
    position: absolute;
    top: 24em;
  }
  .border-4 {
    position: absolute;
    top: 7.5em;
    width: 343px;
  }
  .border-5 {
    display: none;
  }
  .top-footer {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    height: 1220px;
    width: 375px;
  }
  h3 {
    font-size: 20px;
  }
  .subscribe {
    position: absolute;
    left: 1em;
    top: -1em;
    margin: 4em 0;
  }
  .subscribe input {
    width: 230px;
  }
  .products {
    position: relative;
    bottom: -11em;
    left: -7.5em;
    width: 163.5px;
    margin-right: 1em;
  }
  .resources-company {
    position: relative;
    bottom: 25em;
    left: 5em;
  }
  .store-extras {
    bottom: 20em;
    left: -7em;
    position: relative;
    margin-right: -1em;
  }
  .account {
    bottom: 45.5em;
    left: 5em;
    position: relative;
  }
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 238px;
    height: 100px;
    position: absolute;
    bottom: -57em;
  }
  footer {
    position: relative;
    bottom: -14.5em;
    height: 154px;
    width: 375px;
  }
  .copyright ul {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .english img {
    position: absolute;
    left: -15em;
    top: 0.5em;
  }
  .english {
    position: relative;
    left: -1em;
    top: 0;
    font-size: 17px;
  }
  li.footer-terms {
    display: flex;
    flex-direction: row;
    width: 320px;
    position: relative;
    left: 0.5em;
    font-size: 14px;
    margin: 0;
  }
  li.desktop-copyright {
    display: none;
  }
  .skinny-footer-copyright {
    display: flex;
    position: relative;
    width: 375px;
    left: -2em;
    font-size: 14px;
  }
  .sticky-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 375px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }
  .sticky-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    margin: 0 1em;
  }
  .sticky-footer p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #282828;
    width: 100px;
  }
  .order-button-float {
    position: sticky;
    background: #43B1E6;
    letter-spacing: 0.05em;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    border: none;
    padding: 12px 26px 12px 24px;
    gap: 8px;
    width: 179px;
    height: 48px;
    border-radius: 50px;
  }
}

/*# sourceMappingURL=output.css.map */
